{% extends "base.html" %}
    {% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-5 shadow-lg" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
        <h2 class=" fst-italic" >Add Recipe</h2>
        <hr> 
        <div class="mb-3">
          <label class="form-label">Recipe Name</label>
          <input type="text" required name="recipe_name" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Recipe Description</label>
          <input type="textarea" required name="recipe_desc" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Recipe Image</label>
            <input type="file" required name="recipe_image" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
      </form>
</div>
<hr>
<div class="container mx-auto ">
<form>
  {% comment %} <div class="mb-3">
    <label class="form-label">Search Food</label>
    <input type="text" name="search" class="form-control">
  </div>
<button type="submit" class="btn btn-primary ">Search</button> {% endcomment %}
</form>
</div>
<hr>
<div class="container mt-5" >
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Recipe Name</th>
          <th scope="col">Recipe Desc</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in recipes %}
        <tr>
          <th scope="row"> {{forloop.counter}} </th>
          <td> {{recipe.recipe_name}} </td>
          <td>{{recipe.recipe_desc}}</td>
          <td>
            <img src="/media/{{recipe.recipe_image}}" style="height: 100px" >
          </td>
          <td>
            <a href="/delete-recipe/{{recipe.id}}/" class="btn btn-danger" md-1 > Delete </a>
            <hr>
            <a href="/update-recipe/{{recipe.id}}/" class="btn btn-success ml-1" > Update </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

    {% endblock start %}