{% extends "base.html" %}
    {% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-5 shadow-lg" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
        <h2 class=" fst-italic">Update Recipe</h2>
        <hr> 
        <div class="mb-3">
          <label class="form-label">Recipe Name</label>
          <input type="text" value="{{recipe.recipe_name}}" required name="recipe_name" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Recipe Description</label>
          <input type="textarea" value="{{recipe.recipe_desc}}" required name="recipe_desc" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Recipe Image</label>
            <input type="file" name="recipe_image" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
      </form>
</div>

    {% endblock start %}